<div class="lr__form">

    <form class="lr__form-container" (submit)="onSubmit()" #f="ngForm" novalidate>
        <h3 class="lr__form-header">Додати новий об'єкт</h3>

        <!-- Name , Pollutant_name, Emissions_type -->
        <input class="lr__form-input"
               name="name"
               placeholder="Назва Річки"
               type="text" [(ngModel)]="this.form.name"
               minlength="3"
               required>
        <!-- (change)="onChangeTypeSelect()" -->
        <select class="lr__form-input lr__form-select" name="type"
                [(ngModel)]="this.form.risks.type"
                (change)="onChangeTypeSelect()"
                required>
            <option value="null" disabled selected hidden>Вид забруднення</option>
            <option value="A">Ризик за водневим показником</option>
            <option value="B">Потенційний ризик за органолептичними показниками</option>
            <option value="C">Потенційний ризик токсикологічної небезпеки питної води</option>
            <option value="D">Потенційний ризик епідеміологічної небезпеки поверхневих вод</option>
            <option value="E">Потенційний ризик токсикологічної небезпеки поверхневих вод</option>
        </select>

        <!-- type == 1 -->
        <ng-container  *ngIf="this.form.risks.type === 'A'">
            <input class="lr__form-input"
                   name="ph"
                   placeholder="Водневий показник"
                   type="number"
                   [(ngModel)]="this.form.risks.pH"
                   minlength="3"
                   required>
        </ng-container>

        <!-- type == 2 -->
        <ng-container  *ngIf="this.form.risks.type === 'B'">
            <input class="lr__form-input"
                   name="C"
                   placeholder="Забарвленість води"
                   type="number"
                   [(ngModel)]="this.form.risks.C"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="F"
                   placeholder="Природна забарвленість води"
                   type="number"
                   [(ngModel)]="this.form.risks.F"
                   minlength="3"
                   required>
        </ng-container>



        <!-- type == 3 -->
        <ng-container  *ngIf="this.form.risks.type === 'C'">
            <input class="lr__form-input"
                   name="AT"
                   placeholder="Час усереднення"
                   type="number"
                   [(ngModel)]="this.form.risks.AT"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="BW"
                   placeholder="Вага"
                   type="number"
                   [(ngModel)]="this.form.risks.BW"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="CW"
                   placeholder="Розрахункова величина"
                   type="number"
                   [(ngModel)]="this.form.risks.CW"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="ED"
                   placeholder="Тривалість життя"
                   type="number"
                   [(ngModel)]="this.form.risks.ED"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="EF"
                   placeholder="Частка експозиції"
                   type="number"
                   [(ngModel)]="this.form.risks.EF"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="GDK"
                   placeholder="Норматив"
                   type="number"
                   [(ngModel)]="this.form.risks.GDK"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="IR"
                   placeholder="Рівень споживання"
                   type="number"
                   [(ngModel)]="this.form.risks.IR"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="K3"
                   placeholder="Коефіцієнт запасу"
                   type="number"
                   [(ngModel)]="this.form.risks.K3"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="OSF"
                   placeholder="Одиниця ризику"
                   type="number"
                   [(ngModel)]="this.form.risks.OSF"
                   minlength="3"
                   required>
        </ng-container>

        <!-- type == 4 -->
        <ng-container  *ngIf="this.form.risks.type === 'D'">
            <input class="lr__form-input"
                   name="X1"
                   placeholder="К-сть лактозо-позитивних кишкових паличок"
                   type="number"
                   [(ngModel)]="this.form.risks.X1"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="X2"
                   placeholder="Індекс ентерококів"
                   type="number"
                   [(ngModel)]="this.form.risks.X2"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="X3"
                   placeholder="Індекс коліфагів"
                   type="number"
                   [(ngModel)]="this.form.risks.X3"
                   minlength="3"
                   required>
        </ng-container>


        <!-- type == 5 -->
        <ng-container  *ngIf="this.form.risks.type === 'E'">
            <input class="lr__form-input"
                   name="GDK"
                   placeholder="Норматив"
                   type="number"
                   [(ngModel)]="this.form.risks.GDK"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="C1"
                   placeholder="Концентрація речовини"
                   type="number"
                   [(ngModel)]="this.form.risks.C1"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="K3"
                   placeholder="Коефіцієнт запасу"
                   type="number"
                   [(ngModel)]="this.form.risks.K3"
                   minlength="3"
                   required>
            <input class="lr__form-input"
                   name="OSF"
                   placeholder="Одиниця ризику"
                   type="number"
                   [(ngModel)]="this.form.risks.OSF"
                   minlength="3"
                   required>
        </ng-container>

        <button class="lr__form-submit" type="submit">Додати</button>
    </form>
</div>

