<div class="lr__table">
    <table class="lr__table-container">
        <tr class="lr__table-tr tr-header">
            <th class="nowrap">№ з/п</th>
            <th>Річка</th>
            <th>Тип ризику</th>
            <th>Назва речовини</th>
            <th>Детальна інформація</th>
            <th>Ризик</th>
        </tr>
        <tr *ngIf="loading" class="lr__table-tr loading">
            <th colspan="7">Loading...</th>
        </tr>
        <ng-container *ngFor="let river of rivers; let j = index">
            <tr class="lr__table-tr loading" *ngFor="let risk of river['risks']; let i = index">
                <td class="lr__table-td" *ngIf="i== 0" [attr.rowspan]="river['risks'].length">
                    {{river.id + 1}}
                    <div class="lr__table-td-controls">
                        <button (click)="onDelete(river.id)" class="delete">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button *ngIf="!river.isEditing" (click)="toggleObjectEdit(j)" class="edit">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button *ngIf="river.isEditing" (click)="saveEditObject(j)" class="save">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </td>
                <td class="lr__table-td name" *ngIf="i===0" [attr.rowspan]="river['risks'].length">
                    <span *ngIf="!river.isEditing">{{river.name}}</span>
                    <input *ngIf="river.isEditing" type="text"
                           [(ngModel)]="rivers[j].name">
                    <a href="{{river['additional_information'].url}}"
                       *ngIf="river['additional_information']">{{river['additional_information'].year}}</a>
                </td>
                <td>
                    <span>{{riskTypes[risk['type']]}}</span>
                </td>
                <td>
                    <span>{{risk['emission_name'] || '—————'}}</span>
                </td>
                <td>
                    <span class="show" *ngIf="!risk['show']" (click)="onShowClick(risk)">....</span>
                    <ul *ngIf="risk['show']">
                        <li *ngIf="risk['pH']">{{riskProperties['pH']}} : {{risk['pH']}}</li>
                        <li *ngIf="risk['F']">{{riskProperties['F']}} : {{risk['F']}}</li>
                        <li *ngIf="risk['C'] && risk['type'] === 'B' ">{{riskProperties['C']}} : {{risk['C']}}</li>
                        <li *ngIf="risk['AT']">{{riskProperties['AT']}} : {{risk['AT']}}</li>
                        <li *ngIf="risk['BW']">{{riskProperties['BW']}} : {{risk['BW']}}</li>
                        <li *ngIf="risk['CW']">{{riskProperties['CW']}} : {{risk['CW']}}</li>
                        <li *ngIf="risk['ED']">{{riskProperties['ED']}} : {{risk['ED']}}</li>
                        <li *ngIf="risk['EF']">{{riskProperties['EF']}} : {{risk['EF']}}</li>
                        <li *ngIf="risk['GDK']">{{riskProperties['GDK']}} : {{risk['GDK']}}</li>
                        <li *ngIf="risk['IR']">{{riskProperties['IR']}} : {{risk['IR']}}</li>
                        <li *ngIf="risk['K3']">{{riskProperties['K3']}} : {{risk['K3']}}</li>
                        <li *ngIf="risk['OSF']">{{riskProperties['OSF']}} : {{risk['OSF']}}</li>
                        <li *ngIf="risk['C'] && risk['type'] === 'E'">{{riskProperties['C1']}} : {{risk['C']}}</li>
                        <li *ngIf="risk['X1']">{{riskProperties['X1']}} : {{risk['X1']}}</li>
                        <li *ngIf="risk['X2']">{{riskProperties['X2']}} : {{risk['X2']}}</li>
                        <li *ngIf="risk['X3']">{{riskProperties['X3']}} : {{risk['X3']}}</li>
                    </ul>
                </td>
                <td [class]="{'min' : risk['risk'] && risk['risk'] < 0.1, 'ghe' : risk['risk'] >= 0.1 , 'vhe' : risk['risk'] >= 0.2, 'vge' : risk['risk'] >= 0.6, 'ce' : risk['risk'] >= 0.9  }">
                    <span>{{risk['risk']}}</span>
                </td>
            </tr>
        </ng-container>
    </table>
    <div class="lr__table-information">
        <span>Рівні ризику:</span>
        <ul>
            <li class="min">: <0.1 <span>(Рівні мінімального ризику)</span></li>
            <li class="ghe">: 0.1 - 0.19 <span>(Граничні хронічні ефекти)</span></li>
            <li class="vhe">: 0.2 - 0.59 <span>(Важкі хронічні ефекти)</span></li>
            <li class="vge">: 0.6 - 0.89 <span>(Важкі гострі ефекти)</span></li>
            <li class="ce">: 0.9 - 1.0 <span>(Смертельні ефекти)</span></li>
        </ul>
    </div>
    <div class="lr__table-control">
        <button class="lr__table-button" [disabled]="isChecked" (click)="calculateRisks()">
            Обрахувати ризики
        </button>
    </div>
</div>
